.cardarkaplan {
	background-image: url("https://rollercoin.com/static/images/background_header.b6bfc03a8c3a387ebc70..gif");
	background-repeat: no-repeat;
	display: block;
	margin-left: auto;
	margin-right: auto;
}