.countdown33 {
    display: flex;
    font-size: 28px;
    font-weight: 500;
}
.countdown33 > div {
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #31344b;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    margin-right: 10px;
    border-radius: .55rem;
}
