.footerarkaplan {
  background: #292626;
}
.footeryazıkısmı {
  min-height: 20px;
  text-align: center;
  text-decoration:none;
  color:red;
}
.telifhakkı {
  min-height: 20px;
  text-align: center;
  text-decoration:none;
}