/**
 * Concept 1
 */
.countdown-1 {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.countdown-1 .days,
.countdown-1 .minutes,
.countdown-1 .hours,
.countdown-1 .seconds {
  width: 80px;
}

.countdown-1 .amount,
.countdown-1 .label {
  display: block;
  font-size: 12px;
  text-align: center;
}

.countdown-1 .amount {
  font-size: 24px;
}

/**
 * Concept 2
 */
.countdown-2 {
  display: flex;
  background: #fff;
  padding: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Courier New", mono;
}

.countdown-2 .label {
  display: none;
}

.countdown-2 .amount {
  font-size: 24px;
}

.countdown-2 .hours .amount::before,
.countdown-2 .minutes .amount::before,
.countdown-2 .seconds .amount::before {
  content: ":"
}

/**
 * Concept 3
 */
.countdown-3 {
  --colour-days: calc(var(--countdown-percent-days) * 255);
  --colour-hours: calc(var(--countdown-percent-hours) * 255);
  --colour-minutes: calc(var(--countdown-percent-minutes) * 255);
  --colour-seconds: calc(var(--countdown-percent-seconds) * 255);
  --colour: calc(var(--countdown-percent) * 255);
  --length: calc(var(--countdown-percent) * 100%);
  display: flex;
/*   background: #fff; */
  padding: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: "Brandon Grotesque", Arial;
}

.countdown-3 .days,
.countdown-3 .hours,
.countdown-3 .minutes,
.countdown-3 .seconds {
  margin: 6px;
}

.countdown-3 .amount {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  /* width: 64px; */
  height: 52px;
  font-size: 32px;
  font-family: Belwe, "Times New Roman";
  line-height: 0.8em;
}

.countdown-3 .amount::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -1px;
  border-top: solid 1px rgba(200, 200, 200, 0.5);
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.countdown-3 .digit,
.countdown-3 .digit[data-countdown-next-digit]::after {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  width: 30px;
  height: 50px;
  margin: 1px;
  background: #051C2C;
  border-radius: 5px;
  color: #eee;
  text-align: center;
  overflow: hidden;
}

.countdown-3 .digit[data-countdown-next-digit]::after {
  display: none;
  content: attr(data-countdown-next-digit);
  position: absolute;
  left: 0;
  top: 0;
/*
  animation-name: ticker-digit;
  animation-delay: 0;
  */
}

.countdown-3 .label {
  display: block;
  padding-top: 2px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}