* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --arkaplanrenki: #181928;
    --ebony-clay: #2f3045;
    --steel-gray: #1f1f2d;
    --rum: #6a668a;
    --white: #fff;
    --default-btn: #7e7da1;
    --primary: red;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1296px;
    --font-family-sans-serif: pixelSC,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
    background-color: var(--arkaplanrenki);
    color: var(--white);
    font-family: 'Mooli', sans-serif;
    font-size: 1.1rem;
}

h1 {
    margin: 0 1rem;
    text-align: center;
}

h1::before {
    content: "🐹";
}

h1::after {
    content: "🐹 ";
}


main {
    margin: 5%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

main form {
    display: flex;
    flex-direction: column;
}


hr{
    margin-bottom: 1rem;
}

@media (hover: hover) {
    .tree-dimensional-button:hover {
        opacity: .7;
    }
}

@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
    }
    table tbody tr td p {
        padding: 0 .5rem;
    }
    .form-container {
        margin-right: 1.2rem;
        margin-left: 7rem;
    }
    .result-container {
        margin-right: 7rem;
    }
    .asad {
        margin: 0rem 10rem 0rem 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        flex-direction: row;
        justify-content: center;
    }

    .form-container {
        margin-right: 1.2rem;
        margin-left: 7rem;
    }
    .result-container {
        margin-right: 7rem;
    }
    .asad {
        margin: 0rem 10rem 0rem 10rem;
    }
}