.fs-responsive-ad {
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.fs-responsive-ad-wrapper {
  background: #F8598B;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}

.fs-responsive-ad-wrapper:before {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  background: #438EE1;
  left: -50px;
  top: -40px;
  transform: rotate(-50deg);
  z-index: 2;
  transition: all 410ms ease-in-out;
}

.fs-responsive-ad-wrapper:after {
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  background: #2C79CF;
  left: -50px;
  top: -40px;
  transform: rotate(-45deg) translate(24px, 0);
  z-index: 1;
  transition: all 400ms ease-in-out;
}

.fs-logo-wrapper {
  max-width: 120px;
  position: relative;
  z-index: 100;
}

.fs-logo {
  display: block;
  width: 100%;
}

.fs-tagline {
  display: inline-block;
  color: #fff;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  z-index: 100;
  margin: 0 30px;
  text-align: center;
}

.fs-button {
  display: inline-block;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  justify-self: flex-end;
  color: #F8598B;
  background: #fff;
  padding: 0 30px;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  z-index: 100;
}

@media only screen and (min-width: 320px) and (max-width: 509px) {
  .fs-responsive-ad-wrapper:before {
    left: -110px;
  }
  .fs-responsive-ad-wrapper:after {
    left: -120px;
  }
  .fs-tagline {
    display: none;
  }
  .fs-button {
    padding: 0px 20px;
  }
}

@media only screen and (min-width: 510px) and (max-width: 1023px) {
  .fs-responsive-ad-wrapper:before {
    left: -150px;
  }
  .fs-responsive-ad-wrapper:after {
    left: -150px;
  }
  .fs-tagline {
    width: 40%;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 3000px) {
  .fs-responsive-ad-wrapper:before {
    left: -50px;
  }
  .fs-responsive-ad-wrapper:after {
    left: -50px;
  }
  .fs-tagline {
    font-size: 21px;
  }
}