* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --arkaplanrenki: #181928;
    --ebony-clay: #2f3045;
    --steel-gray: #1f1f2d;
    --rum: #6a668a;
    --white: #fff;
    --default-btn: #7e7da1;
    --primary: red;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1296px;
    --font-family-sans-serif: pixelSC,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
    background-color: var(--arkaplanrenki);
    color: var(--white);
    font-family: 'Mooli', sans-serif;
    font-size: 1.1rem;
}

h1 {
    margin: 0 1rem;
    text-align: center;
}

h1::before {
    content: "🐹";
}

h1::after {
    content: "🐹 ";
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--ebony-clay);
	font-size: 13px;
    margin-bottom: .5rem;
}

main {
    margin: 5%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

main form {
    display: flex;
    flex-direction: column;
}

.hr-one {
  color: #333;
}
.hr-two {
  border-bottom: 1px dashed #cccccc;
}
.hr-three {
  height: 14px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px #cccccc;
}
.hr-four {
  border: 13px inset #cccccc;
}
.hr-five {
  border-bottom: 20px solid #cccccc;
  border-radius: 15px;
}
.hr-six {
  padding: 0;
  border: none;
  border-top: medium double #cccccc;
  color: #333;
  text-align: center;
}
.hr-six::after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #cccccc;
}
.hr-seven {
  height: 12px;
  background-image: linear-gradient(90deg, #cccccc, transparent);
  border: 0;
}
.hr-eight {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.hr-eight::before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
.hr-nine {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
.hr-nine::after {
  content: "RCHesapla";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 12px;
  padding: 0 0.25em;
  color: #cccccc;
  background: #191919;
}


@media (hover: hover) {
    .tree-dimensional-button:hover {
        opacity: .7;
    }
}

@media only screen and (min-width: 768px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
    }
    table tbody tr td p {
        padding: 0 .5rem;
    }
    .form-container {
        margin-right: 1.2rem;
        margin-left: 7rem;
    }
    .result-container {
        margin-right: 7rem;
    }
    .asad {
        margin: 0rem 10rem 0rem 10rem;
    }
}

@media only screen and (min-width: 1200px) {
    main {
        flex-direction: row;
        justify-content: center;
    }

    .form-container {
        margin-right: 1.2rem;
        margin-left: 7rem;
    }
    .result-container {
        margin-right: 7rem;
    }
    .asad {
        margin: 0rem 10rem 0rem 10rem;
    }
}