@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&amp;display=swap";

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  color: white;
  transition: all 0.2s;
  cursor: url("https://marpel.net/resimler/cursor.svg"), auto;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  cursor: url("https://marpel.net/resimler/cursor2.svg"), auto;
  text-decoration: none;
  color: inherit;
}

a *:hover {
  cursor: url("https://marpel.net/resimler/cursor2.svg"), auto;
}

a {
  text-decoration: none;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #f0869e;
}

::-webkit-scrollbar-thumb:hover {
  background: #f0869e;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #181818;
  color: white;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.container {
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: auto;
  margin-top: 15px;
  z-index: 4;
  position: relative;
  gap: 1.5rem;
  justify-content: center;
}
nav {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background:
    linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(to bottom, #383838, #1e1e1e) border-box;
  border-image: linear-gradient(#383838, #383838) 30;
  border: 2px solid transparent;
  transition: all 0.5s;
  flex-direction: row;
}

nav:first-child {
  width: 100%;
}

nav a {
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  position: relative;
}

nav a:hover {
  background-color: #333;
}

nav a button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav div a,
nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
}

nav div img {
  width: 70%;
  height: 70%;
}

nav div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

nav div:nth-child(2) a {
  color: white;
  text-decoration: none;
}

nav div:nth-child(2) div a {
  color: #c59850;
  text-shadow:
    0 0 01px yellow,
    0 0 6px #c59850,
    0 0 6px #c59850;
  animation: sponsorAnimation 7s linear 0s infinite;
}

.navbar-dropdown {
  position: absolute;
  overflow: hidden;
  opacity: 1;
  left: 50%;
  transform: translate(-50%, -700px);
  transition: all 0.5s;
  z-index: 51;
  background-color: #1e1e1e;
}

.navbar-dropdown-inner {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.25rem;
  padding: 10px;
}

.navbar-dropdown .navbar-dropdown-inner a:hover {
  background-color: #333;
}

.navbar-dropdown-inner a {
  display: flex;
  padding: 7px 14px;
  border-radius: 6px;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

.navbar-dropdown-inner a div:first-child img {
  width: 50px;
  height: 50px;
}

.navbar-dropdown-inner a div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-dropdown-inner a div:nth-child(2) p {
  font-weight: 300;
  font-size: 0.75rem;
}

.navbar-dropdown-border {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: #1E1E1E;*/
  z-index: -1;
}

.navbar-dropdown-border-left {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1.5px solid #383838;
  border-radius: 50%;
  background-color: rgb(24, 24, 24);
  left: -25px;
  bottom: -25px;
}

.navbar-dropdown-border-right {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1.5px solid #383838;
  border-radius: 50%;
  background-color: rgb(24, 24, 24);
  right: -25px;
  bottom: -25px;
}

.navbar-border {
  position: relative;
  width: 100%;
  height: 100%;
}

.navbar-border::before {
  content: "";
  position: absolute;
  padding: 1px;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    #383838 88%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0) 98%,
    #383838 100%
  );
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.swal2-html-container {
  color: white;
}

.swal2-actions {
  background-color: #2f3336;
}

.swal2-popup {
  background-color: #404040;
  color: #fff;
  border-radius: 1rem;
}

.swal2-title {
  color: white;
}

.sidebar-button {
  display: none;
}

.sidebar-button button {
  background-color: #333;
  border: none;
  font-size: 25px;
  padding: 8px;
  border-radius: 10px;
}

.mobil-nav {
  position: fixed;
  inset: 0;
  z-index: 50;
  transform: translateX(-100%);
  height: 100%;
  transition: transform 0.5s ease;
}

.mobil-nav.open {
  transform: translateX(0);
}

.sidebar-back {
  position: fixed;
  inset: 0;
  background-color: rgb(75, 85, 99, 1);
  opacity: 0.25;
}

.sidebar {
  background-color: #1e1e1e;
  padding: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  width: 70%;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  gap: 2.5rem;
}

.sidebar .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .title img {
  width: 2.5rem;
  height: 2.5rem;
}

.sidebar .title button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.sidebar .pages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar .pages a,
.sidebar .pages button {
  font-size: 20px;
  font-weight: 400;
}

.sidebar .pages button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 5px;
}

.sidebar .buttons {
  display: flex;
  justify-content: space-between;
}

.sidebar .buttons a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sidebar .buttons a img {
  width: 35px;
  height: 35px;
}

.discord {
  border-radius: 4px;
  padding: 16px;
  max-width: 500px;
  min-width: 160px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.discord-banner {
  border-radius: 4px 4px 0 0;
  height: 105px;
}
.discord-banner img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.discord-detail {
  padding: 25px;
  background-color: #2b2d31;
  border-radius: 0 0 4px 4px;
}
.discord-detail h3 {
  text-transform: uppercase;
  color: #b5bac1;
  font-size: 12px;
}
.discord-detail div {
  display: flex;
  justify-content: space-between;
}
.discord-detail div:first-child {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.discord-detail div:first-child img {
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
.discord-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.discord-info .discord-title {
  font-size: 16px;
  font-weight: 700;
}
.discord-detail .discord-info .discord-members {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.discord-detail .discord-info .discord-members div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  font-weight: 200;
}
.discord-detail .discord-info .discord-members img {
  width: 15px;
  height: 15px;
}
.discord-invite button {
  padding-left: 12px;
  padding-right: 12px;
  background-color: #248046;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 5px;
}

#shard {
  padding: 16px;
  max-width: 500px;
  min-width: 160px;
  width: 100%;
  box-sizing: border-box;
}

#shard-detail {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b2d31;
  text-align: center;
  align-items: center;
  gap: 1.2rem;
}

.shard-active ul {
  display: flex;
  gap: 1rem;
}

.shard-active ul li {
  display: flex;
  color: #fff;
  font-size: 14px;
  align-items: center;
  gap: 0.5rem;
}

.shard-active ul li img {
  width: 20px;
}

.shards-all p {
  border: 1px solid #80ba71;
  color: #80ba71;
  display: flex;
  align-items: center;
  width: 380px;
  height: 45px;
  border-radius: 10px;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  gap: 0.5rem;
}

.shard-ping {
  display: flex;
  gap: 1rem;
}

.shard-ping p {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #2e2e2e;
  border-radius: 5px;
  width: 220px;
  height: 40px;
  justify-content: center;
}

.shard-ping p span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#discordInviteBox,
#shard {
  position: absolute;
  top: 10%;
  left: 60%;
  display: none;
}

#shard {
  position: absolute;
  top: 10%;
  left: 30%;
  display: none;
  z-index: 90;
}

footer {
  position: relative;
  background-image: url("https://marpel.net/dosyalar/header/wave.svg");
  width: 100%;
  height: 20rem;
  max-height: 30rem;
  background-size: cover;
  content: "";
}
footer .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  padding-bottom: 15px;
}
footer .footer {
  font-size: 1.3rem;
  font-weight: 700;
}
footer .footer .users {
  display: flex;
  flex-direction: column;
}
footer .footer .users div:hover {
  transform: translateX(-1.1rem);
}

.parilti {
  color: #c59850;
  text-shadow:
    0 0 1px yellow,
    0 0 6px #c59850,
    0 0 6px #c59850;
  animation: sponsorAnimation 7s linear 0s infinite;
}

@keyframes sponsorAnimation {
  from {
    color: #bf953f;
  }
  25% {
    color: #fcf6ba;
  }
  50% {
    color: #b38728;
  }
  75% {
    color: #fbf5b7;
  }
  100% {
    color: #aa771c;
  }
}

@media only screen and (max-width: 768px) {
  #shard,
  #discordInviteBox {
    display: none;
  }
  nav .buttons,
  nav .pages,
  .nav {
    display: none !important;
  }
  .sidebar-button {
    display: flex;
  }
  .navbar-dropdown {
    width: 100%;
    display: none;
  }
  .navbar-dropdown-inner {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  footer .footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    text-align: center;
  }
  footer .footer .users {
    justify-content: center;
  }
}
