html,
body {
  background-color: #100026 !important;
}

nav {
  background:
    linear-gradient(#281a3c, #281a3c) padding-box,
    linear-gradient(to bottom, #120227, #281a3c) border-box !important;
}

footer {
  background-image: url(https://marpel.net/dosyalar/header/wave2.svg) !important;
}

::-webkit-scrollbar-thumb {
  background: #6f4c89 !important;
}

::-webkit-scrollbar-track {
  background: #281a3c !important;
}

.navbar-dropdown {
  background-color: #281a3c !important;
}

nav a:hover,
.navbar-dropdown-inner a:hover {
  background-color: rgb(182, 131, 230, 0.2) !important;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  text-align: center;
  gap: 25px;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero h1 span {
  background: -webkit-linear-gradient(left, #ed73e8, #d962ec, #9e32f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .buttons {
  display: flex;
  gap: 50px;
}

.hero .buttons button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: -webkit-linear-gradient(#865faa, #b683e6);
  padding: 12px;
  border-radius: 12px;
  font-size: 1.2rem;
  border: 1px solid #6f4c89;
}

.hero .buttons button img {
  height: 20px;
  width: 20px;
}

.hero .buttons button:hover {
  transform: translateY(-0.25rem);
}

.invite-button button {
  background-color: transparent;
  background-image: -webkit-linear-gradient(45deg, #f3889f, #844578) !important;
  transition: all 0.4s;
  transform: translateY(-1.25rem);
  box-shadow: 0 0 15px 1px #f3889f;
  border: none !important;
  animation: bounce 1s infinite;
}

.packages {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 25px;
}

.package {
  background: linear-gradient(
    180deg,
    rgba(27, 12, 48, 1) 40%,
    rgba(27, 12, 48, 0.2) 60%
  );
  border-radius: 12px;
  padding: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #231537;
  border-bottom: none;
  border: 2px solid #6f4c8945;
}

.package:hover {
  transform: translateY(-0.25rem);
  border: 2px solid #6f4c89;
}

.yil:hover {
  transform: translateY(-1.25rem);
  border-color: #c59850;
}

.yil {
  background: linear-gradient(
    180deg,
    rgba(35, 20, 34, 1) 40%,
    rgba(35, 20, 34, 0.2) 60%
  );
  transform: translateY(-1rem);
}

.package .title {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.package h2 {
  text-align: center;
}

.package .title div:first-child {
  font-size: 20px;
}

.package .title div:nth-child(2) {
  font-size: 16px;
}

.package .title div:nth-child(2) span {
  background: -webkit-linear-gradient(left, #ed73e8, #d962ec, #9e32f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.package ul {
  list-style-type: none;
}

.package .ozellik {
  display: grid !important;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  gap: 0.8rem;
}

.package ul li,
.package ul li a,
.package a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.package ul li img,
.package ul li a img,
.package a img {
  width: 25px;
}

.package ul li a:hover {
  transform: translateX(0.125rem);
  text-shadow: 0 14px 1px 0 #f3889f;
  text-shadow:
    0 0 12px #865faa,
    0 0 12px #f3889f,
    0 0 12px #f3889f;
}

.package .button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.package button {
  font-size: 20px;
  font-weight: 600;
  padding: 2px;
  background-color: #2a1845;
  border: none;
  width: 12rem;
  border-radius: 8px;
}

hr {
  border: none;
  height: 1px;
  background-color: #382b49;
  margin: 5rem 0;
}

.cards {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 60%;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.card .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card .info div:first-child {
  display: flex;
  gap: 10px;
}

.card .info img {
  width: 30px;
  height: 30px;
}

.card .img img {
  height: 300px;
  transition: transform 0.3s ease;
}

.card .img img:hover {
  transform: rotate(-5deg);
}

.reverse .img img:hover {
  transform: rotate(5deg);
}

.card .info div {
  font-size: 18px;
  font-weight: 400;
}

.card .info div:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  color: #cbcbcc;
}

.card .info div:nth-child(3) {
  border-left: 1px solid #cbcbcc;
  padding-left: 15px;
  color: #767478;
}

.card .buttons button {
  background: transparent;
  padding: 5px;
  border: none;
  font-size: 27px;
  margin-left: 5px;
  margin-right: 5px;
}

.highlighted {
  border: 2px solid #ff2f8b;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px #ff2f8b;
}

.reverse {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 768px) {
  nav {
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }
  nav div:nth-child(2) {
    flex-direction: column;
  }
  .hero .buttons button {
    flex-direction: column;
  }
  .cards {
    max-width: 100%;
  }
  hr {
    margin: 5rem 0;
  }
  .packages {
    flex-direction: column;
  }
  .card {
    flex-direction: column;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .card .info .title {
    font-size: 16px;
  }
  .card .img img {
    width: 100%;
    height: 100%;
  }
  .hero .buttons {
    flex-direction: column;
    gap: 25px;
  }
  .hero .buttons button {
    width: 100%;
  }
}

@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
