.shard-box-weight.highlight {
    background-color: rgba(148, 156, 247, 0.1);
    transition: background-color 3s;
  }
  
  .shard-box-weight {
    transition: background-color 1s;
  }
  
  .section {
    background-color: #181818;
    padding-top: 30px;
  }
  
  .shard {
    position: relative;
    width: 100%;
    overflow: hidden;
    /*display: flex;
    justify-content:center;
    align-items:center;*/
  }
  
  .shard-box {
    transition-duration: 300ms;
  }
  
  .shard-box:hover {
    cursor: pointer;
    transform: translateY(-1.1rem);
  }
  
  .shard-pad {
    padding: 50px 100px 30px 100px;
  }
  
  .shard-container,
  .shard-container2,
  .shard-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .shard-container,
  .shard-container3 {
    position: relative;
    overflow: hidden;
  }
  
  .shard-container .shard-border {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  
  .shard-container3 .shard-border {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .shard-inner {
    position: relative;
  }
  
  .shard-inner::before {
    content: "";
    position: absolute;
    padding: 2.5px;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(72, 72, 72, 255) 20%, #d3d3d3 84%);
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  
  .shard-container3 .shard-inner::before {
    background: linear-gradient(180deg, rgba(72, 72, 72, 255) 20%, #d3d3d3 84%);
  }
  
  .corner {
    position: absolute;
    width: 110px;
    height: 100px;
    border: 2.5px solid #939393;
    border-radius: 50%;
    background-color: rgb(24, 24, 24);
  }
  
  .shard-container .corner-left {
    left: -50px;
    top: -50px;
  }
  
  .shard-container .corner-right {
    right: -50px;
    top: -50px;
  }
  
  .shard-container3 .corner-left {
    left: -50px;
    bottom: -50px;
  }
  
  .shard-container3 .corner-right {
    right: -50px;
    bottom: -50px;
  }
  
  .shard-boxes {
    padding: 40px;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(max(160px, calc((100% - 140px) / 10)), 1fr));*/
    grid-template-columns: repeat(10, minmax(0, 1fr));
    row-gap: 10px;
  }
  
  .shard-box {
    padding: 19px;
    text-align: center;
  }
  
  .shard-box-weight {
    min-width: 70px;
    max-height: 60px;
    max-width: 90px;
  }
  
  .shard-box-container {
    position: relative;
    min-height: 100px;
    overflow: hidden;
  }
  
  .shard-box-border {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .shard-box-inner {
    display: flex;
    position: relative;
    height: 70%;
    font-size: 1.5rem;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    color: #acc1a8;
  }
  
  .shard-box-inner::before {
    content: "";
    position: absolute;
    padding: 1.5px;
    inset: 0;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, #8fc383 84%);
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  
  .shard-box-corner {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1.5px solid #8fc383;
    border-radius: 50%;
    background-color: rgb(24, 24, 24);
  }
  
  .shard-box-corner-left {
    left: -20px;
    top: -20px;
  }
  
  .shard-box-corner-right {
    right: -20px;
    top: -20px;
  }
  
  .red .shard-box-inner::before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, #e398a7 84%);
  }
  
  .red .shard-box-corner {
    border: 1.5px solid #e398a7;
  }
  
  .red .shard-box-inner {
    color: #e398a7;
  }
  
  .offline .shard-box-inner::before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, #a0a0a0 84%);
  }
  
  .offline .shard-box-corner {
    border: 1.5px solid #a0a0a0;
  }
  
  .offline .shard-box-inner {
    color: #a0a0a0;
  }
  
  .shard-container2 {
    position: relative;
  }
  
  .shard-container2::before {
    content: "";
    position: absolute;
    padding: 2.5px;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 1%,
      #d3d3d3 50%,
      rgba(0, 0, 0, 0) 99%
    );
    -webkit-mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    mask:
      linear-gradient(#000 0 0) content-box,
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  
  .stat-boxes {
    display: none;
    position: fixed;
    z-index: 1100;
    inset: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: #181818;
  }
  
  .stat-box {
    width: 550px;
    background-color: #181818;
  }
  
  .stat-box-container {
    position: relative;
    overflow: hidden;
    padding: 10px 5rem 3rem 5rem;
  }
  
  .stat-box-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }
  
  .stat-box-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .stat-box-body .text {
    font-size: 1.1rem;
    font-weight: 600;
    color: #a19f9f;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .stat-box-inner::before {
    content: "";
    position: absolute;
    padding: 1.5px;
    inset: 0;
    border: 5px solid #8fc383;
    /*border-bottom-color: transparent;*/
    mask-composite: exclude;
  }
  
  .red .stat-box-inner::before {
    border: 5px solid #e398a7;
    /*border-bottom-color: transparent;*/
  }
  
  .red .stat-box-corner {
    border: 5px solid #e398a7;
  }
  
  .red .stat-box-corner-bottom-left {
    border-color: #e398a7;
  }
  
  .red .stat-box-corner-bottom-right {
    border-color: #e398a7;
  }
  
  .offline .stat-box-inner::before {
    border: 5px solid #a0a0a0;
    /*border-bottom-color: transparent;*/
  }
  
  .offline .stat-box-corner {
    border: 5px solid #a0a0a0;
  }
  
  /*.offline .stat-box-corner-bottom-left {
    border-color: #a0a0a0;
  }
  
  .offline .stat-box-corner-bottom-right {
    border-color: #a0a0a0;
  }
  
      .offline .stat-box-corner-bottom-left {
    border-color: #444444;
  }
  
  .offline .stat-box-corner-bottom-right {
    border-color: #444444;
  }
  */
  
  .stat-box-corner {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid #8fc383;
    border-radius: 100px;
    background-color: rgb(24, 24, 24);
  }
  
  .stat-box-corner-left {
    left: -70px;
    top: -70px;
  }
  
  .stat-box-corner-right {
    right: -70px;
    top: -70px;
  }
  
  .stat-box-corner-bottom-left {
    left: -70px;
    bottom: -70px;
    /*border-color: #222422;*/
  }
  
  .stat-box-corner-bottom-right {
    right: -70px;
    bottom: -70px;
    /*border-color: #222422;*/
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Poppins";*/
  }
  
  .header {
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
  }
  
  .header-image {
    display: flex;
    gap: 5px;
  }
  
  .header-image img {
    width: 30px;
  }
  
  .header-image h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  
  .marpel-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .marpel-supporttext {
    display: flex;
    gap: 6rem;
  }
  
  .marpel-text {
    display: flex;
    gap: 4rem;
  }
  
  .marpel-support p {
    color: #fff;
  }
  
  .marpel-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .data-title p {
    color: #fff;
    font-size: 45px;
    font-weight: 700;
  }
  
  .shard-active ul {
    display: flex;
    gap: 1rem;
  }
  
  .shard-active ul li {
    display: flex;
    color: #fff;
    font-size: 14px;
    align-items: center;
    gap: 0.5rem;
  }
  
  .shard-active ul li img {
    width: 20px;
  }
  
  .shards-all p {
    border: 1px solid #80ba71;
    color: #80ba71;
    display: flex;
    align-items: center;
    width: 380px;
    height: 45px;
    border-radius: 10px;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    gap: 0.5rem;
  }
  
  .shards-all p img {
    width: 35px;
  }
  
  .shard-ping {
    display: flex;
    gap: 1rem;
  }
  
  .shard-ping p {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    width: 220px;
    height: 40px;
    justify-content: center;
  }
  
  .shard-ping p span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .shard-stats {
    border: 1px solid #2e2e2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    gap: 0.5rem;
    border-radius: 13px;
    padding: 5px;
  }
  
  .shard-stats-title {
    color: #fff;
  }
  
  .shard-uptime-stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .allstats {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .allstats p {
    display: flex;
    gap: 0.5rem;
    color: #fff;
    font-size: 14px;
  }
  
  .allstats p img {
    width: 20px;
    height: 20px;
  }
  
  .shard-uptime p {
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
  }
  
  .shard-find {
    border: 1px solid #2e2e2e;
    width: 330px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .shard-find input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    display: flex;
  }
  
  .input-icon img {
    width: 25px;
    padding-top: 10px;
  }
  
  @media only screen and (max-width: 760px) {
    /*.header{
      height: 70px;
  }*/
    .marpel-supporttext {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
    }
  
    .shard-ping {
      display: flex;
      flex-direction: column;
    }
  
    .shards-all p {
      width: 300px;
    }
  
    .marpel-support p {
      padding-left: 10px;
    }
  
    .marpel-text {
      gap: 1rem;
      padding-top: 10px;
    }
  
    .marpel-text p {
      font-size: 13px;
    }
  
    .data-title p {
      font-size: 20px;
    }
  
    .shard-stats {
      width: 300px;
      padding: 10px;
    }
  
    .shard-active ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .shard-find {
      width: 300px;
      margin-top: 20px;
    }
  
    .shard-pad {
      padding: 10px;
      margin-top: 25px;
    }
  
    .shard-boxes {
      padding: 15px;
      display: grid;
      justify-items: center;
      /*grid-template-columns: repeat(auto-fill, minmax(max(160px, calc((100% - 140px) / 10)), 1fr));*/
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  
    .shard-container,
    .shard-container3 {
      min-height: 430px;
    }
  
    .shard-box {
      padding: 19px;
      text-align: center;
    }
  
    /*.shard-container {
      height: 50vh;
    }*/
    .stat-boxes {
      padding: 10px;
    }
  
    .stat-box {
      width: auto;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .shards-all p {
      width: 300px;
    }
  
    .marpel-support p {
      padding-left: 10px;
    }
  
    .marpel-text {
      gap: 1rem;
      padding-top: 10px;
    }
  
    .marpel-text p {
      font-size: 13px;
    }
  
    .data-title p {
      font-size: 20px;
    }
  
    .shard-stats {
      width: 300px;
      padding: 10px;
    }
  
    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .shard-find {
      width: 300px;
      margin-top: 20px;
    }
  
    .shard-pad {
      padding: 10px;
      margin-top: 25px;
    }
  
    .stat-boxes {
      padding: 10px;
    }
  }
  