.container {
    padding: 20px;
  }
  
  .boxes {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2.5rem;
    justify-items: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
  }
  
  .box {
    border-radius: 15px;
    background:
      linear-gradient(#1e1e1e, #1e1e1e) padding-box,
      linear-gradient(to bottom, #5e5e5e, #1e1e1e) border-box;
    border-image: linear-gradient(#5e5e5e, #5e5e5e) 30;
    border: 2px solid transparent;
    width: 100%;
    margin: auto;
  }
  
  .box:hover {
    transform: translateY(-0.25rem);
  }
  
  .box .title {
    display: flex;
    gap: 0.5rem;
    background-color: #292929;
    padding: 5px 10px 5px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #a1a1a1;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .box .title div:first-child {
    background-color: #1f1f1f;
    padding: 5px;
    border-radius: 10px;
    background:
      linear-gradient(#1e1e1e, #1e1e1e) padding-box,
      linear-gradient(to bottom, #383838, #1e1e1e) border-box;
    border-image: linear-gradient(#383838, #383838) 30;
    border: 2px solid transparent;
    width: 35px;
    height: 35px;
  }
  
  .box .title img {
    width: 35px;
    height: 35px;
  }
  
  .box .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 0.1rem;
    font-size: 20px;
    font-weight: 400;
  }
  
  .box .detail a {
    border-radius: 10px;
    background:
      linear-gradient(#1e1e1e, #1e1e1e) padding-box,
      linear-gradient(to bottom, #383838, #1e1e1e) border-box;
    border-image: linear-gradient(#383838, #383838) 30;
    border: 2px solid transparent;
    padding: 2px 20px 2px 20px;
    background-color: #252525;
    color: #a9a9a9;
    font-size: 16px;
    font-weight: 500;
  }
  
  @media only screen and (max-width: 768px) {
    .boxes {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media only screen and (max-width: 498px) {
    .boxes {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  