
.govde { width:100%;}
.solust { width:272px; height:283px; top:0; left:0; background:url('solust.png') no-repeat top left; position:absolute; z-index:999; }
.sagust { width:281px; height:268px; top:0; right:0; background:url('sagust.png') no-repeat top left; position:absolute; z-index:999; }
.orta { display:block; width:500px; height:201px; top:0px; left:50%; margin-left:-250px; background:url('orta.png') no-repeat top left; position:absolute; z-index:70; overflow:hidden; cursor:pointer; }
.orta span { display:block; width:100%; text-align:center; }
.orta .day { font-size:26px; font-weight:bold; color:#383131; padding-top:5px; }
.orta .time { font-size:37px; font-weight:400; color:#d21027; }
.red { color:#c43042; font-weight:bold; text-decoration:none; }