@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Regular.eot');
    src: url('../fonts/Rawline-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Regular.woff2') format('woff2'),
        url('../fonts/Rawline-Regular.woff') format('woff'),
        url('../fonts/Rawline-Regular.ttf') format('truetype'),
        url('../images/Rawline-Regular.svg#Rawline-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-SemiBold.eot');
    src: url('../fonts/Rawline-SemiBold.eot#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-SemiBold.woff2') format('woff2'),
        url('../fonts/Rawline-SemiBold.woff') format('woff'),
        url('../fonts/Rawline-SemiBold.ttf') format('truetype'),
        url('../images/Rawline-SemiBold.svg#Rawline-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Medium.eot');
    src: url('../fonts/Rawline-Medium.eot#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Medium.woff2') format('woff2'),
        url('../fonts/Rawline-Medium.woff') format('woff'),
        url('../fonts/Rawline-Medium.ttf') format('truetype'),
        url('../images/Rawline-Medium.svg#Rawline-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rawline';
    src: url('../fonts/Rawline-Bold.eot');
    src: url('../fonts/Rawline-Bold.eot#iefix') format('embedded-opentype'),
        url('../fonts/Rawline-Bold.woff2') format('woff2'),
        url('../fonts/Rawline-Bold.woff') format('woff'),
        url('../fonts/Rawline-Bold.ttf') format('truetype'),
        url('../images/Rawline-Bold.svg#Rawline-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

