@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');

:root {
  --accentOne: yellow;
  --accentOne2: white;
  --accentTwo: #D1D3B9;
  --accentThree: #D2BD76;
  --background: #2f3045;
  --backgroundTwo: #202020;
  --text: white;
  
  --dilseçeneği: red;
  --seçilen: red;
  
  --title: Bruno Ace SC, cursive;
  --body: Nova Flat, cursive;
}
body { margin:0px!important;background-color:var(--background); }
a { text-decoration:none!important; }
.musour { display:grid;height:100vh;width:100vw;grid-template-columns:280px auto;overflow-y:hidden; }
.musour-left { padding:10px;color:var(--text);font:15px var(--body);display:grid;height:calc(100vh - 10px);flex-direction:column; }
.musour-title { font:40px var(--title);padding-top:3px; }
.musour-title div { font-size:40px;margin-left:-2px;line-height:80px;color:var(--accentOne); }
.musour-title-2 { background:linear-gradient(to bottom left,var(--accentOne),var(--accentTwo));font:700 13px var(--title);line-height:10px;padding:14px 0px 16px 4px;text-align:center;color:var(--background);border-radius:10px;transition:.3s all; }
.musour-title-2:hover {opacity:.8; }
.musour-blurb { text-align:center;line-height:18px; }
.musour-filters { margin-top:10px;flex-grow:100px;overflow:auto; }
.musour-filters::-webkit-scrollbar-thumb { border-left:solid 15px var(--background);background:linear-gradient(to bottom,var(--accentOne),var(--accentTwo)); }
.musour-filters::-webkit-scrollbar { width:16px; }
.musour-filters div { display:flex;flex-direction:column; }
.musour-filters h1 { background-color:var(--backgroundTwo);font:700 15px var(--title);line-height:10px;padding:14px 0px 16px 4px;text-align:center;color:var(--text);border-radius:10px;text-transform:uppercase;line-height:12px;border: 2px dashed #ff0000; }
.musour-filters button { margin-top:0px;border:none;background:transparent;text-align:left;padding:0px;cursor:pointer;font:15px var(--body);color:var(--text);line-height:20px;transition:.3s all; }
.musour-filters .is-checked { font-weight:700!important;color:var(--seçilen);border: 1px dashed; }
.musour-filters button::before { content:'+';color:var(--accentOne);padding-right:5px; }
.musour-filters button:hover { color:var(--accentOne);border: 1px dashed; }

.musour-color { flex-direction:row!important;flex-wrap:wrap;justify-content:center;gap:8px; }
.musour-color button { height:20px;width:20px;background:linear-gradient(to bottom left,var(--accentOne),var(--accentTwo));border-radius:3px; }
.musour-color .red { background:#B45758!important; }
.musour-color .orange { background:#AE8657!important; }
.musour-color .yellow { background:#AAA95F!important; }
.musour-color .green { background:#5C916B!important; }
.musour-color .blue { background:#6599B0!important; }
.musour-color .purple { background:#8564AD!important; }
.musour-color .pink { background:#B9619D!important; }
.musour-color .brown { background:#735E45!important; }
.musour-color .black { background:#555555!important; }
.musour-color .gray { background:#bbbbbb!important; }
.musour-color .white { background:var(--backgroundTwo)!important; }
.musour-color button::before { display:none; }


.musour-right { background:var(--backgroundTwo);background:linear-gradient(to bottom left,var(--accentOne),var(--accentTwo));border-radius:10px 0px 0px 0px;padding:10px;min-width:500px;box-shadow: 0px 0px 5px rgba(44,44,44,.1);box-shadow:none; }
.musour-right .grid { max-height:calc(100vh - 20px);overflow:auto; }
.musour-right .grid::-webkit-scrollbar-thumb { background-color:var(--background);border-radius:5px; }
.musour-right .grid::-webkit-scrollbar { width:10px; }
.musour-icon { background-color:var(--background);padding:10px;border-radius:15px;width:130px;margin:0px 0px 0px 0px;box-shadow: 5px 5px 10px -3px rgba(44,44,44,.05);height:176px;transform:scale(1);transition:.3s all;border: 2px dashed #ff0000; }
.musour-icon img {display:block;filter:grayscale(75%) contrast(100%);opacity:1;transition:.3s all;border-radius: 10px 10px 10px 10px;border: 2px dashed #ff0000; }
.musour-icon div {background-color:var(--backgroundTwo);padding:10px;font:13px var(--body);color:var(--text);font-style:italic;height:50px;display:flex;flex-direction:column;justify-content:center;border-radius: 10px 10px 10px 10px;border: 2px dashed #ff0000; }
.musour-icon div b { display:block;font-style:normal!important;color:var(--accentOne);font-size:12px; }
.musour-icon:hover { transform:scale(1); }
.musour-icon:hover img { opacity:1;filter:grayscale(0%) contrast(100%)!important; }

.musour-blurb2 { text-align:center;line-height:20px;font:13px var(--title); }
.musour-icon b2 {font-style:normal!important;color:var(--accentOne2);text-transform:uppercase;font-size:12px; }

/* SEVİYELİ MİNER AYARLARI */
.güç {
	background-image: url(https://rollercoin.com/static/images/lightning.9aeb20686a6436fa05cd..svg);
	background-repeat: no-repeat; 
}

.bonus {
	background-image: url(https://rollercoin.com/static/images/arrow_top_cyan.0c480b8075fed9b13159..svg);
	background-repeat: no-repeat;
}

.yildiz {
	background-image: url(https://rollercoin.com/static/images/level_star.4ff18517e5e8eed42060..png);
	background-repeat: no-repeat;
}

.s1 {
	background-image: url(https://rollercoin.com/static/img/storage/rarity_icons/level_1.png);
	background-repeat: no-repeat;
}

.s2 {
	background-image: url(https://rollercoin.com/static/img/storage/rarity_icons/level_2.png);
	background-repeat: no-repeat;
}
.s3 {
	background-image: url(https://rollercoin.com/static/img/storage/rarity_icons/level_3.png);
	background-repeat: no-repeat;
}
.s4 {
	background-image: url(https://rollercoin.com/static/img/storage/rarity_icons/level_4.png);
	background-repeat: no-repeat;
}
.s5 {
	background-image: url(https://rollercoin.com/static/img/storage/rarity_icons/level_5.png);
	background-repeat: no-repeat;
}
.s6 {
	background-image: url(https://rollercoin.com/static/img/storage/rarity_icons/level_6.png);
	background-repeat: no-repeat;
}
/* SEVİYELİ MİNER AYARLARI */
/* DİL AYARLARI */
.fc img { background-color:var(--backgroundTwo);padding:5px 5px 5px 5px;border-radius:10px;border: 2px dashed #ff0000; }
/* DİL AYARLARI */



.logo {
  font-size: 30px;
color: #202c2d;
}

.logo * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s;
  transition: all 0.3s
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: #FFC721;
}

@media only screen and (max-width: 767px) {
  .logo {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1180px) {
  .logo {
    font-size: 18px;
  }
}

@media only screen and (max-width: 150px) {
  .logo {
    font-size: 8px;
  }
}
